@media print{
    body{
        padding: 10px;
    }
    i{
        margin-right: 5px;
    }

    h3{
        margin-top: 0px;
    }

    div.category{
        margin-bottom: 20px
    }

    .m-b-10{
        margin-bottom: 10px;
    }

    .photo-name .name{
        text-transform: uppercase;
        font-size: 1.5em;
    }

    .photo-name .title{
        font-style: italic;
    }

    .block{
        display: block;
    }

    .left-side, .right-side{
        font-family: 'Alegreya SC', serif;
    }

    .cv{
        margin: 10px 0px 0px 10px;
        border: 5px solid silver;
        background-color: #576782 !important;
        -webkit-print-color-adjust: exact ;
    }
    .right-side{
        background-color: white !important;
        -webkit-print-color-adjust: exact ;
    }

    .left-side * {
        color:#ffffff !important;
        -webkit-print-color-adjust: exact ;
    }

    .left-side{
        padding-top: 20px;
    }

    .left-side legend{
        margin-bottom: 5px;
        font-weight: bold;
    }
}
